<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://pisofttech.com/download/ios/arhouse_in_house.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://pisofttech.com/download/ios/icon_arhouse.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://pisofttech.com/download/ios/screen_arhouse.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.pi.arouse</string>
				<key>bundle-version</key>
				<string>2.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>3D互动家园</string>
				<key>title</key>
				<string>点家</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
